<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
  </head>
  <body>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input id="file" name="file" accept="application/pdf" type="file">
      <input type="submit"/>
    </form>
    <form action="/translate" method="post">
      <div>text : <br/><input type="text" name="text" value=""></div>
      <div>target language: <br/><input type="text" name="target" value="ko"></div>
      <div><input type="submit" value="Submit"></div>
    </form>
  </body>
</html>
